<div class="grid sm:mx-0 xl:mx-8 mt-5">
  <div class="col-6 ">
    <div >
      <h3 class="bg-blue-100 inline-block poppins-light border-round-3xl py-1 px-2 mb-1">
        Welcome To TeamSync
      </h3>
    </div>
    <div class="mt-0 mb-2" >
      <h1 class="text-6xl poppins-medium mt-0">
        Boost Productivity <br>
        Through Effortless <br>
        Team Management
      </h1>
    </div>
    <div class="my-7 ml-3">
      <p-button class="mr-1" [routerLink]="['/signup']"  label="Get Started Today" [rounded]="true" ></p-button>
      <p-button  [routerLink]="['/features']"  label="See Our Features" [text]="true" [plain]="true"  [rounded]="true"></p-button>
    </div>
    <div class="grid mt-6">
      <div class="col-12 md:col-6">
        <div class="bg-black-alpha-90 p-3 border-round-2xl h-20rem">
          <div class="flex justify-content-between mb-8 mt-1">
            <div>
              <span class="block text-500 font-medium mb-3">[rating]</span>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:4.5rem;height:4rem">
              <h1>4.8</h1>
            </div>
          </div>
          <div>
            <span class="text-100">the perfect team management and collaboration</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="bg-gray-100 p-3 border-round-2xl h-20rem">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block  font-medium text-2xl mb-3 text-black-alpha-90">
                Revolutionize The Way <br>
                Your Teams Work <br>
                Together With Our <br>
                Intuitive Platform</span>

            </div>
          </div>
          <span class="text-500">LOGO</span>
        </div>
      </div>
    </div>
  </div>
  <div class="md:col-6 ">
      <div class=" ml-8">
        <img class="ui-fluid" src="assets/home-image.png" alt="" style="width: 35rem">
      </div>
  </div>
</div>
